<h2>How to Play</h2>

<p>Although the game has a lot of complexity to it, the rules to play it are pretty simple.
The game is played where players select one of the elements of the game; rock, paper and scissors.
The outcome of the game is determined by 3 simple rules:</p>

<ul>
  <li>Rock wins against scissors</li>
  <li>Scissors win against paper</li>
  <li>Paper wins against rock</li>
</ul>

<p>To play, simple enter the first players selection followed by the second players selection, seperated by a "/", at the end of the URL.
E.G. if player 1 was to select rock, and player 2 was to select paper, the URL would look like:
 </p>
 <p>localhost:4567/rock/paper</p>
